input {
    margin: 0 0 1.2em;
}

.form-field {
    display: block;
    margin: 0 0 1.2em;
    padding: .5em;
    width: 100%;
    background-color: #FAFBFC;
    border: 2px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    outline:  none;
    height: 44px;
}

.btn {
    display: inline-block;
    margin: 0 0 14px;
    padding: 5px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
    outline: none;
    background-color: #E2E4E6;
    font-size: 14px;
    font-weight: bold;
    color: hsl(0,0%,55%);
    cursor: pointer;
    transition: .1s ease;
}
.btn.btn-success {
    background: #5AAC44;
    color: #fff;
}
.btn.btn-icon {
    margin: 0 4px 0 0;
    padding: 0 10px;
    height: 32px;
    background-color: hsla(0,0%,100%,.3);
    color: #fff;
    line-height: 32px;
}
.icon {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    transition-duration: 85ms;
    transition-timing-function: ease;
}
.icon.icon-home:before {
    content: "\E933";
}
.icon.icon-board:before {
    content: "\E90A";
}
.icon.icon-add:before {
    content: "\E901";
}
.icon.icon-more:before {
    content: "\E94B";
}
.icon.icon-description:before {
    content: "\E91D";
}
.icon.icon-comment:before {
    content: "\E91A";
}
.icon.icon-attachment:before {
    content: "\E908";
}
.icon.icon-card:before {
    content: "\E910";
}
.icon-card-cover:before {
    content: "\E911";
}
.icon-activity:before {
    content: "\E900";
}
.btn-icon .txt {
    padding: 0 8px 0 2px;
}
#register-login {
    margin: 0;
    display: inline-block;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F9FAFC;
    background-image: url('../images/lef-large.svg'), url("../images/right-large.svg");
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: 20%,20%;
}

#register-login .logo {
    background:url("../images/trello-logo-blue.svg") no-repeat center;
    height: 44px;
    margin: 40px auto;
    display: block;
    background-size: contain;
    /* background-size: 10%; */
    
}

#register .logo {
    background: url("../images/trello-logo-blue.svg") no-repeat center;
    height: 44px;
    display: block;
    margin: 40px auto;
    background-size: contain;
} 

#register {
    margin: 0;
    background-image: url('../images/lef-large.svg'), url("../images/right-large.svg");
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    min-width: 100vw;
    min-height: 100vh;
    display: inline-block;
}
#register .sectionWrapper {
    margin: 0 auto;
    max-width: 400px;
    background-color: #F9FAFC;
}

#register h1 {
    text-align: center;
    font-size: 16px;
    color: #5E6C84;
    letter-spacing: -0.01em;
}
#register .login-register-seperator{
    display: block;
    width: 100%;
    text-align: center;
}
.form-field2 {
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    border: 2px solid #dfe1e6;
    height: 44px;
    background-color: #FAFBFC;
    box-sizing: border-box;
}
#register .account-form{
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
#register-login .account-form{
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
#register-login .section-wrapper {
    margin: 0 auto;
    max-width: 400px;
    background-size: contain;
}

#register-login h1{
    text-align: center;
    font-size: 16px;
    color: #5E6C84;
    letter-spacing: -0.01em;
}

#register-login .signin-signup-separator {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.2em;
}


.message {
    border-radius: 4px;
    border-color: #EBEEF5;
    border-width: 1px;
    border-style: solid;
    background-color: #edf2fc;
    position: fixed;
    left: 50%;
    top: 20px;
    z-index: 999999999;
    transform: translateX(-50%);
    min-width: 380px;
    padding: 15px 15px 15px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* display: flex; */
}

.message.is-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: center */
}

.message p {
    margin: 0
}

.message-info .message-content {
    color: #909399
}
.message-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8
}
.message-success .message-content {
    color: #67C23A
}
.message-warning {
    background-color: #fdf6ec;
    border-color: #faecd8
}
.message-warning .message-content {
    color: #E6A23C
}
.message-error {
    background-color: #fef0f0;
    border-color: #fde2e2
}
.message-error .message-content {
    color: #F56C6C
}

.message-content {
    padding: 0;
    font-size: 14px;
    line-height: 1
}
@font-face {
    font-family: trellicons;
    src: url(./fonts/trellicons.eot);
    src: url(./fonts/trellicons-iefix.eot) format("embedded-opentype"), url(./fonts/trellicons.ttf) format("truetype"), url(./fonts/trellicons.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

.message .icon-close {
    position: absolute;
    top:50%;
    right: 15px;
    color: #C0C4CC;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px
}
.icon.icon-close:before {
    content: "\E918";
    /* content: 'X'; */
}
.message .icon-close:focus {
    outline-width: 0
}

.message .icon-close:hover {
    color: #909399
}

header{
    display: flex;
    justify-content: space-between;
    background: #026aa7;
}

header .logo {
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 5px;
    background: url("../images/header-logo-2x.png") no-repeat 100% 0/80px 30px;
    cursor: pointer;
    height: 30px;
    width: 80px;
}
header .right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

header .avatar{
    height: 32px;
    width: 32px;
    line-height: 32px;
}

.popup-container {
    position: relative;
}

.popup {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    width: 304px;
    z-index: 9999;
}

.popup-header {
    position: relative;
    margin: 8px 0;
    text-align: center;
}
.popup-header-close {
    position: absolute;
    top: -8px;
    right: 0;
    padding: 5px 12px 10px 8px;
}
.popup-header-close .icon {
    color: #6b778c;
    cursor: pointer;
}

.popup-menu-list li {
    cursor: pointer;
    padding: 6px 12px;
    color: #172b4d;
}
.popup-menu-list li:hover {
    background-color: rgba(9,30,66,.04);
}
ul {
    list-style: none;
}
.popup-title {
    display: block;
    padding: 0 32px;
    margin: 0 12px;
    box-sizing: border-box;
    line-height: 32px;
    color: #5e6c84;
    border-bottom: 1px solid rgba(9,30,66,.13);
}
.popup-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px;
}
.popup-menu-list li.separator {
    margin: 5px 0;
    padding: 0;
    border-bottom: 1px solid rgba(9,30,66,.13);
}
html, body {
    height: 100%;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
html, body, ul, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}